.container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    background-color: var(--primary-light-color);
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 20px;
}

.vencida {
    opacity: 0.60;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.colTitulo {
    font-weight: bold;
    font-size: 1.15rem;
    margin: 0;
}

.col p {
    margin: 0;
}

.bold {
    font-weight: bold;
}
